<?xml version="1.0"?>
<configuration>
  <!-- configSections required in order for the ServerConfig section to work correctly-->
  <configSections>
  <!--<section name="custom section name" type="namespace of custom config class, name of application" />-->
    <section name="ServerConfig" type="Framework.Config.ServerConfigSection, SQLDebugHelper"/>
  </configSections>

  <!-- Server Config Section nests under configuration itself, not inside appSettings or any other element.-->
  <!-- Server element also supports a logging attribute so that we can get the payload for debugging if needed.-->
  <ServerConfig>
    <Servers>
      <Server ProfileName="Local_Master" DBServer=".\SQLEXPRESS" database="master" timeout="120" />
    </Servers>
  </ServerConfig>

</configuration>
