<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <clear/>
        <add name="SQLDEV" connectionString="Server=.\SQLDEV;Database=master;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
        <add name="Default" connectionString="Server=.\;Database=master;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
    </connectionStrings>  

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
